:root {
    --black: #000000;
    --white: #ffffff;
    --lightblue: #3fb1b1;
    --darkred: #8d0004;
    --orange: #ffae01;
    --darkorange: #ff8d0d;
    --redorange: #e56436;
    --brown: #926852;
    --yelloworange: #fdac03;
    --green: #5c851d;
    --darkgreen: #396f24;
    --lightred: #be1027;
    --grey: #b6ab91;
    --lightyellow: #feeec9;
    --pink: #fcaeb5;
    --lightgreen: #7ab485;
    --lowgreen: #4f936a;
    --lightgold: #f9eac5;
    --red: #d11830;
    --lowblue: #238e8e;

}

* {margin: 0; padding: 0; }


button { cursor: pointer;}

img { display: block; max-width: 100%;}

li { list-style-type: none; }

.container { max-width: 1200px; width: 80%; margin: auto;}


h1 {font-family: 'MuseoModerno', sans-serif; font-size: 91px; font-weight: 600; }

h2 {font-family: 'MuseoModerno', sans-serif; font-size: 48px; font-weight: 600;  }

h3 {font-family: 'Open Sans', sans-serif; font-size: 24px; font-weight: 500;  }

h4 {font-family: 'MuseoModerno', sans-serif; font-size: 22px; font-weight: 600; }

h5 {font-family: 'Open Sans', sans-serif; font-size: 15px; font-weight: 700; }

a,  span, textarea, li, input, button {font-family: 'Open Sans', sans-serif; font-size: 18px; font-weight: 600;  }

p {font-family: 'Roboto', sans-serif; font-size: 28px; font-weight: 300;  color: var(--secondary);}

a { text-decoration: none; transition: all 0.6s; color: var(--secondary); cursor: pointer;}

a:hover{color: var(--grey);}

.d-flex {display: flex;}

.d-flex-col {display: flex; flex-direction: column;}

.align-center {align-items: center;}

.justify-btwn {justify-content: space-between;}

button:hover{background-color: black!important ; color: white!important; transition: ease 0.6s;}
button{ transition: ease 0.6s;}

.fullwidth {width: 100%;}

/* header */

.header {background-color: var(--lightyellow); padding: 35px 0; position: fixed; width: 100%; box-shadow: 0px 1px 5px rgb(230, 230, 230); z-index: 2; }
.header a {font-weight: 500;}
.header i {cursor: pointer;}
.header ul {column-gap: 20px;}


.header .third-col {column-gap: 10px; justify-content: center;}
.header .third-col div.d-flex {border-bottom: 1px solid var(--grey);  }
.header .third-col div.d-flex .fa-magnifying-glass { color: var(--grey); position: relative; top: 3px; padding-right: 5px;}
.header input {background-color: transparent; border: none; max-width: 100px; color: var(--grey); }

.header .third-col .icons i {font-size: 20px; position: relative; top: 5px;}


.header input::placeholder {font-family: 'Poppins ', sans-serif; font-size: 18px; font-weight: 500; letter-spacing: 1.5px; }
.header input:focus {outline: none; }

button {color: var(--white); border-radius: 15px; border: none; background-color: var(--lightblue); padding: 10px 18px; line-height: 1;}

.header button { border-radius: 20px; padding: 8px 18px;}

.fa-solid.fa-bars {display: none;}

.mobile {display: none;}


.burgermenu {display: none;}
.search {display: flex;}


@media(max-width: 1250px){
    .wrapper {flex-direction: column; row-gap: 20px;}
    .header {padding: 25px 0;}
    img.logo {max-width: 240px;}
    .mobile {display: block;}
    .burger-icons {display: flex; column-gap: 5px;}
    .desktop {display: none;}
   
    .burger-icons i {line-height: 1; font-size: 25px;}
    .fa-solid.fa-bars {display: block; font-size: 35px; color: var(--darkred); line-height: 1;}
    .burgermenu {padding-top: 20px;}
    .burgermenu ul {display: flex; flex-direction: column; row-gap: 20px; align-items: center; text-align: center;}
    .burgermenu ul li {border-bottom: 1px solid var(--grey); width: 100%; padding-bottom: 20px; margin: auto;}
    .burgermenu ul li.d-flex {justify-content: center; border: none;}
    .logo-search {width: 100%;}
    header input {padding-bottom: 20px;}
}

@media(max-width: 500px) {
    /* .logo-search {flex-direction: column; row-gap: 40px;} */
    .wrapper {row-gap: 20px;}
    img.logo {max-width: 90%;}
}



header .amount {position: relative;
    background-color: var(--orange);
    border-radius: 21px;
    color: white;
    padding: 0 5px;
font-size: 12px;
bottom: 10px;
right: 7px;}

/* header */

/* banner */



.banner  {background-color:  var(--lightblue); padding-top: 160px;}

.banner button {letter-spacing: 1.5px;}

@media(max-width: 1250px){
    .banner {padding-top: 180px;}
}

@media(max-width: 500px){
    .banner {padding-top: 150px;}

}


.banner .container {padding-top: 110px; padding-bottom: 60px; background-image: url(../images/parrot.png); background-repeat: no-repeat; background-position: right; }

.banner .container .texts-col {width: 50%; flex-direction: column; row-gap: 20px; }

.banner .container .texts-col p {max-width: 400px; letter-spacing: 1px;}

.banner .container .texts-col h1 {line-height: 1.1; color: var(--white);}

.banner .container .texts-col p {color: var(--white); font-size: 24px; width: 70%;}

.banner .container div.line {width: 70%; border-bottom: 1px solid white;}

.banner .container .texts-col button {background-color: var(--lightred);}

@media(max-width: 1250px){
    .banner .container {background-size: 600px; background-position: bottom; padding-top: 50px;}
    .banner .container .texts-col {width: 100%; text-align: center; align-items: center; padding-bottom: 70vh;}
    .banner .container .texts-col h1 {font-size: 72px;}
}

@media(max-width: 800px){
    .banner .container {background-size: 500px; background-position: bottom;}
    .banner .container .texts-col {width: 100%; text-align: center; align-items: center; padding-bottom: 60vh;}
}

@media(max-width: 600px){
    .banner .container {background-size: 100%; background-position: bottom; padding-top: 40px;}
    .banner .container .texts-col {padding-bottom: 90%;}
    .banner .container .texts-col h1 {font-size: 60px;}
  
}

@media(max-width: 500px){
    .banner .container {padding-top: 70px;}
}

/* banner */

/* cards */

.cards .carousel .slick-prev:before{ font-family: 'FontAwesome'; content:"\f053" ; color: var(--grey); color: var(--darkred); }

.cards .carousel .slick-next:before{ font-family: 'FontAwesome'; content:"\f054" ; color: var(--grey); color: var(--darkred); }

.cards .carousel .slick-next, .cards .carousel .slick-prev {background-color: transparent!important; top: 160px;}

.cards .carousel button {appearance: auto;}

.cards .misc {position: absolute; left: 50px; top: 1400px; width: 90px;}

@media (max-width: 1250px){
    .cards .misc {display: none;}
}

.cards {background-color: var(--pink); }

.cards .title .flowers1 {padding-bottom: 60px;}
.cards .title .flowers2 {padding-top: 60px;}

.cards .title {
    padding: 80px 0;
    justify-content: center;
}

@media (max-width: 980px){
    .cards .title {flex-direction: column; align-items: center;}
    .cards .title .flowers1 {padding-bottom: 20px;}
    .cards .title .flowers2 {padding-top: 20px;}
    .cards .title h2 {font-size: 38px;}
}

@media (max-width: 400px) {
    .cards .title h2 {font-size: 38px;}
    .cards .title img {height: 40px;}
}


.cards .title h2 {color: var(--lightred); max-width: 500px; text-align: center; line-height: 1.2; padding: 0 20px;}

.cards .item button {border: none; background-color: var(--lightred); color: white; padding-bottom: 15px;}
/* .cards .container {column-gap: 20px;} */

.cards .card .background-radius {
padding: 30px 20px; padding-bottom: 5px ;border-radius: 110px 110px 0 0; border: 1px solid black;
margin-bottom: 20px;
}

.cards .card {padding: 0 5%;  margin: auto;}

@media (max-width: 980px){
    .cards .card {padding: 0 5%;  margin: auto; max-width: 250px;}
}

.cards .card img {width: 220px;}

.cards .texts {
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    text-align: center;
}

.cards .card .texts h5 {font-size: 20px; font-weight: 300; font-family: "Poppins", sans-serif;}
.cards .card .texts p {font-size: 18px; font-weight: 500;}
.cards .card .texts h4 {font-size: 25px; font-weight: 300; font-family: 'MuseoModerno', sans-serif; color: white;}


@media (max-width: 400px){
    .cards .card .background-radius {width: 160px; margin: auto; margin-bottom: 30px;}
}

.colombia1 {background: repeating-linear-gradient(-30deg,var(--orange) 0,var(--orange) 20px, var(--darkorange) 20px, var(--darkorange) 40px);}

.colombia2 {background: repeating-linear-gradient(-30deg,var(--redorange) 0,var(--redorange) 20px, var(--brown) 20px, var(--brown) 40px);}

.brasil1 {background: repeating-linear-gradient(-30deg,var(--lightgreen) 0,var(--lightgreen) 20px, var(--lowgreen) 20px, var(--lowgreen) 40px);}

.brasil2 {background: repeating-linear-gradient(-30deg,var(--green) 0,var(--green) 20px, var(--darkgreen) 20px, var(--darkgreen) 40px);}

.box1 {
    --mask:
    radial-gradient(43.5px at 50% 61.5px,#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(43.5px at 50% -31.5px,#0000 99%,#000 101%) 50% 30px/120px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
            background-color: var(--lightblue);
            height: 100px;
            width: 100%;
            position: relative;
            margin-top: 80px;
  }

/* cards */

/* banner2 */

.banner2 {background-color: var(--orange); }

/* .banner2 .wrapper {background-image: url(../images/vectorbanner2.png);  background-repeat: no-repeat; background-position: left; background-size: contain; top: 20px;  } */





  .box2 {
    --mask:
    radial-gradient(43.5px at 50% 61.5px,#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(43.5px at 50% -31.5px,#0000 99%,#000 101%) 50% 30px/120px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
            background-color: var(--orange);
            position: relative;
            width: 100%;
            bottom: 70px;
            height: 70px;
 
  }





.banner2 .container .texts {width: 50%;}

.banner2 .container { margin: auto; text-align: start; flex-direction: row; justify-content: end; }

.banner2 .container h2{color: white; font-size: 50px; width: 25%;line-height: 1.2; padding-left: 40px;}
.banner2 .container p{color: white; width: 90%; padding-left: 40px;}

.banner2image {overflow: hidden;}

.banner2image img {top: 18px; position: relative;}

@media (max-width: 1400px){
    .banner2 .wrapper {width: 100%; background-image: none;}
    .banner2 .container { text-align: center; flex-direction: column-reverse; justify-content: center; padding-bottom: 0px; align-items: center; }
    .banner2 .container img {display: block;}
    .banner2 .container .texts {width: 100%; display: flex; flex-direction: column; align-items: center; text-align: center;}
    .banner2 .container .texts h2 {color: white; font-size: 50px; line-height: 1.2; padding-left: 0px; width: auto;}
    .banner2 .container .texts p {color: white; width: 80%; padding-left: 0px; padding-bottom: 50px;}
}

@media (max-width: 980px){
    .banner2 .container .texts h2 {font-size: 38px;}
}

/* banner2 */

/* combos */

.misc2 {position: relative; bottom: 300px; left: 1130px; padding-left: 10px;}

@media (max-width: 1400px){
    .misc2{display: none;} 
   
}

.combos {background-color: var(--lightblue); }
.combos .container .title {color: var(--lightgold); margin: auto; padding-top: 70px;}
.combos .container .title h2 {width: 60%; text-align: center; line-height: 1.2;}

.combos .container .promo-cards {margin-top: 60px; }
.combos .container .promo-cards button {border: none; background-color: white; color: black; font-size: 16px;}
.combos .container .promo-cards .carousel2 {margin: auto; }
.combos .container .promo-cards .card {margin: auto;}
.combos .container .promo-cards .card .background-radius {margin: auto;
padding: 30px 20px; padding-bottom: 5px ;border-radius: 153px 0 0 0; border: 1px solid black;
margin-bottom: 30px; width: 350px; height: 400px; 
}



.slick-dots li button {background-color: transparent!important; color: transparent!important; }

.slick-dots {bottom: -60px!important;}

.combos .container .promo-cards .card img {width: 467px;max-width: none;position: relative;top: -73px;left: -74px;}


.combos .container .promo-cards .card {width: 400px; margin: auto; padding-top: 55px;} 

.promo-cards .texts {
    flex-direction: column;
    row-gap: 10px;
    text-align: center;


}



.promo-cards .card .texts h4{font-size: 25px; font-weight: 300; font-family: 'MuseoModerno', sans-serif; color: white;}
.promo-cards .card .texts p {font-size: 18px; font-weight: 800; color: white; font-family: 'Poppins', sans-serif;}

@media (min-width: 1400px){
    .combos {max-height: 970px;}

}

@media (max-width: 1400px){
    .combos {padding-bottom: 0; padding-bottom: 100px;}

}
@media (max-width: 1250px){
    .combos {padding-bottom: 100px;}
    .combos .container .title  {flex-direction: column;  align-items: center;}
    .combos .container .title h2 {width: 100%; text-align: center;}
    /* .promo-cards {flex-direction: column; row-gap: 80px;} */
    
}

@media (max-width: 650px){
    .combos {padding-bottom: 100px;}
    .combos .container .promo-cards {margin-top: 0;}
    .combos .container .title h2 {font-size: 36px;}
    .combos .container .title img {height: 98px;}
    .combos .container .promo-cards .card {width: auto;}
    .combos .container .promo-cards .card img {scale: 0.6}
    .combos .container .promo-cards .card .background-radius {
        padding: 21px 20px;
        padding-bottom: 5px;
        border-radius: 96px 0 0 0;
        border: 1px solid black;
        margin-bottom: 30px;
        width: 191px;
        height: 262px; }
    .combos .container .promo-cards .card img {
            max-width: none;
            position: relative;
            top: -133px;
            left: -147px;
        }

}

@media (max-width: 400px){
    .combos .container .title h2 {font-size: 32px;}
    .combos .container .title img {height: 98px;}
    .combos .container .promo-cards .card {width: auto; }
    .combos .container .promo-cards .card img {scale: 0.5}
    .combos .container .promo-cards .card .background-radius {
    padding: 21px 20px;
    padding-bottom: 5px;
    border-radius: 79px 0 0 0;
    border: 1px solid black;
    margin-bottom: 30px;
    width: 150px;
    height: 226px;
}
    .combos .container .promo-cards .card img {
        max-width: none;
        position: relative;
        top: -154px;
        left: -165px;
    }
        }

/* footer */

footer ul {flex-direction: column; row-gap: 10px;}

footer .main-footer {background-color: black; color: #eeeeee; padding: 50px 0;}

footer .main-footer .container {justify-content: space-between; column-gap: 40px;}

footer .main-footer .container .lists {column-gap: 50px; padding-top: 20px;}

footer .tiny-border {border-bottom: 1px solid white; width: 35px; margin-bottom: 10px;}

footer .main-footer .fa-map {height: 100%;}

.indent {max-width: 208px;}
footer p, footer li, footer a {font-size: 16px; font-weight: 400; }

footer .logo {width: 40%; line-height: 1.5;}

footer .logo p {margin-top: 25px; line-height: 1.8;}

footer .fa-map {position: relative;
    bottom: -2px;
    padding-right: 6px;}

footer h5 {letter-spacing: 3px;}

footer .logo i {padding-right: 10px;}

footer .col i {padding-right: 6px; color: #818385;}

@media (max-width: 1250px){
    footer .main-footer .container, footer .main-footer .container .lists, footer img, footer div {flex-direction: column; margin: auto; text-align: center;}
    footer .logo {margin: auto; width: 100%;}
    .indent {max-width: none;}
    footer .lists {row-gap: 30px;}
    footer ul {align-items: center;}
}

footer .red {font-size: 15px; background-color: var(--red); color: white; padding: 5px 0; border-bottom: 3px solid white; }

footer .red .container {align-items: center;}

footer .red .col img {height: 20px; align-items: center;}

@media (max-width: 1250px){
    footer .red .container {row-gap: 15px;}
}